{% extends 'pixio/elements/layouts/layout-account.html' %}
{% load static %}
        
{% block additional_css %}
{% endblock %}
		
{% block content %}
<section class="col-xl-9 account-wrapper">
    <div class="confirmation-card account-card">
        <div class="thumb">
            <img src="{% static 'pixio/images/confirmation.png' %}" alt="">
        </div>
        <div class="text-center mt-4">
            <h4 class="mb-3 text-capitalize">Your Order Is Completed !</h4>
            <p class="mb-2">You will receive an order confirmation email with details of your order.</p>
            <p class="mb-0">Order ID: 267676GHERT105467</p>
            <div class="mt-4 d-sm-flex gap-3 justify-content-center">
                <a href="{% url 'pixio:account-order-details' %}" class="btn my-1 btn-secondary">View Order </a>
                <a href="{% url 'pixio:index' %}" class="btn btn-outline-secondary my-1 btnhover20">Back To Home </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}

