{% extends 'pixio/elements/layouts/layout-account.html' %}
{% load static %}
        
{% block additional_css %}
{% endblock %}
		
{% block content %}
<section class="col-xl-9 account-wrapper">
    <div class="row">
        <div class="col-md-6 m-b30">
            <div class="review-card">
                <div class="review-head">
                    <div class="review-media">
                        <img src="{% static 'pixio/images/team/profile1.jpg' %}" alt="">
                    </div>
                    <div class="clearfix">
                        <h5 class="mb-0">Michel Poe</h5>
                        <div class="star-rating">
                            <i class="fa fa-star text-yellow"></i>
                            <i class="fa fa-star text-yellow"></i>
                            <i class="fa fa-star text-yellow"></i>
                            <i class="fa fa-star text-yellow"></i>
                            <i class="fa fa-star text-yellow"></i>
                        </div>
                    </div>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
            </div>
        </div>
        <div class="col-md-6 m-b30">
            <div class="review-card">
                <div class="review-head">
                    <div class="review-media">
                        <img src="{% static 'pixio/images/team/profile2.jpg' %}" alt="">
                    </div>
                    <div class="clearfix">
                        <h5 class="mb-0">Celesto Anderson</h5>
                        <div class="star-rating">
                            <i class="fa fa-star text-yellow"></i>
                            <i class="fa fa-star text-yellow"></i>
                            <i class="fa fa-star text-yellow"></i>
                            <i class="fa fa-star text-yellow"></i>
                            <i class="fa fa-star text-yellow"></i>
                        </div>
                    </div>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
            </div>
        </div>
        <div class="col-md-6 m-b30">
            <div class="review-card">
                <div class="review-head">
                    <div class="review-media">
                        <img src="{% static 'pixio/images/team/profile3.jpg' %}" alt="">
                    </div>
                    <div class="clearfix">
                        <h5 class="mb-0">Monsur Rahman Lito</h5>
                        <div class="star-rating">
                            <i class="fa fa-star text-yellow"></i>
                            <i class="fa fa-star text-yellow"></i>
                            <i class="fa fa-star text-yellow"></i>
                            <i class="fa fa-star text-yellow"></i>
                            <i class="fa fa-star text-yellow"></i>
                        </div>
                    </div>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
            </div>
        </div>
        <div class="col-md-6 m-b30">
            <div class="review-card">
                <div class="review-head">
                    <div class="review-media">
                        <img src="{% static 'pixio/images/team/profile4.jpg' %}" alt="">
                    </div>
                    <div class="clearfix">
                        <h5 class="mb-0">Johan Doe</h5>
                        <div class="star-rating">
                            <i class="fa fa-star text-yellow"></i>
                            <i class="fa fa-star text-yellow"></i>
                            <i class="fa fa-star text-yellow"></i>
                            <i class="fa fa-star text-yellow"></i>
                            <i class="fa fa-star text-yellow"></i>
                        </div>
                    </div>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
            </div>
        </div>
        <div class="col-md-6 m-b30">
            <div class="review-card">
                <div class="review-head">
                    <div class="review-media">
                        <img src="{% static 'pixio/images/team/profile1.jpg' %}" alt="">
                    </div>
                    <div class="clearfix">
                        <h5 class="mb-0">Michel Poe</h5>
                        <div class="star-rating">
                            <i class="fa fa-star text-yellow"></i>
                            <i class="fa fa-star text-yellow"></i>
                            <i class="fa fa-star text-yellow"></i>
                            <i class="fa fa-star text-yellow"></i>
                            <i class="fa fa-star text-yellow"></i>
                        </div>
                    </div>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
            </div>
        </div>
        <div class="col-md-6 m-b30">
            <div class="review-card">
                <div class="review-head">
                    <div class="review-media">
                        <img src="{% static 'pixio/images/team/profile2.jpg' %}" alt="">
                    </div>
                    <div class="clearfix">
                        <h5 class="mb-0">Celesto Anderson</h5>
                        <div class="star-rating">
                            <i class="fa fa-star text-yellow"></i>
                            <i class="fa fa-star text-yellow"></i>
                            <i class="fa fa-star text-yellow"></i>
                            <i class="fa fa-star text-yellow"></i>
                            <i class="fa fa-star text-yellow"></i>
                        </div>
                    </div>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
            </div>
        </div>
        <div class="col-md-6 m-b30">
            <div class="review-card">
                <div class="review-head">
                    <div class="review-media">
                        <img src="{% static 'pixio/images/team/profile3.jpg' %}" alt="">
                    </div>
                    <div class="clearfix">
                        <h5 class="mb-0">Monsur Rahman Lito</h5>
                        <div class="star-rating">
                            <i class="fa fa-star text-yellow"></i>
                            <i class="fa fa-star text-yellow"></i>
                            <i class="fa fa-star text-yellow"></i>
                            <i class="fa fa-star text-yellow"></i>
                            <i class="fa fa-star text-yellow"></i>
                        </div>
                    </div>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
            </div>
        </div>
        <div class="col-md-6 m-b30">
            <div class="review-card">
                <div class="review-head">
                    <div class="review-media">
                        <img src="{% static 'pixio/images/team/profile4.jpg' %}" alt="">
                    </div>
                    <div class="clearfix">
                        <h5 class="mb-0">Johan Doe</h5>
                        <div class="star-rating">
                            <i class="fa fa-star text-yellow"></i>
                            <i class="fa fa-star text-yellow"></i>
                            <i class="fa fa-star text-yellow"></i>
                            <i class="fa fa-star text-yellow"></i>
                            <i class="fa fa-star text-yellow"></i>
                        </div>
                    </div>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}

