{% extends 'pixio/elements/layouts/layout.html' %}
{% load static %}
        
{% block additional_css %}
{% endblock %}
		
{% block content %}
<section class="content-inner-1 z-index-unset">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8">
                <div class="row">
                    <div class="col-lg-12 col-md-6 col-sm-6 m-lg-b30 m-b50 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="dz-card blog-half style-5">
                            <div class="dz-media">
                                <img src="{% static 'pixio/images/blog/blogpost-4/pic1.jpg' %}" alt="/">
                            </div>
                            <div class="dz-info">
                                <div class="dz-meta">
                                    <ul>
                                        <li class="post-date">17 May 2023</li>
                                    </ul>
                                </div>
                                <h3 class="dz-title">
                                    <a href="{% url 'pixio:post-header-image' %}">Trendsetter Chronicles: Unveiling the Latest in Fashion</a>
                                </h3>
                                <a href="{% url 'pixio:post-header-image' %}" class="font-14 read-btn">Read More 
                                    <i class="icon feather icon-chevron-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 col-sm-6 m-lg-b30 m-b50 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="dz-card blog-half style-5">
                            <div class="dz-media">
                                <img src="{% static 'pixio/images/blog/blogpost-4/pic2.jpg' %}" alt="/">
                            </div>
                            <div class="dz-info">
                                <div class="dz-meta">
                                    <ul>
                                        <li class="post-date">20 Oct 2023</li>
                                    </ul>
                                </div>
                                <h3 class="dz-title">
                                    <a href="{% url 'pixio:post-header-image' %}">Chic & Unique: Personalized Fashion Finds</a>
                                </h3>
                                <a href="{% url 'pixio:post-header-image' %}" class="font-14 read-btn">Read More 
                                    <i class="icon feather icon-chevron-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 col-sm-6 m-lg-b30 m-b50 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="dz-card blog-half style-5">
                            <div class="dz-media">
                                <img src="{% static 'pixio/images/blog/blogpost-4/pic3.jpg' %}" alt="/">
                            </div>
                            <div class="dz-info">
                                <div class="dz-meta">
                                    <ul>
                                        <li class="post-date">20 Nov 2023</li>
                                    </ul>
                                </div>
                                <h3 class="dz-title">
                                    <a href="{% url 'pixio:post-header-image' %}">Runway Rundown: Decoding Fashion Week’s Best Looks</a>
                                </h3>
                                <a href="{% url 'pixio:post-header-image' %}" class="font-14 read-btn">Read More 
                                    <i class="icon feather icon-chevron-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 col-sm-6 m-lg-b30 m-b50 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="dz-card blog-half style-5">
                            <div class="dz-media">
                                <img src="{% static 'pixio/images/blog/blogpost-4/pic4.jpg' %}" alt="/">
                            </div>
                            <div class="dz-info">
                                <div class="dz-meta">
                                    <ul>
                                        <li class="post-date">22 Sept 2023</li>
                                    </ul>
                                </div>
                                <h3 class="dz-title">
                                    <a href="{% url 'pixio:post-header-image' %}">Closet Confidential: Behind-the-Scenes of a Fashionista</a>
                                </h3>
                                <a href="{% url 'pixio:post-header-image' %}" class="font-14 read-btn">Read More 
                                    <i class="icon feather icon-chevron-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 col-sm-6 m-lg-b30 m-b50 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="dz-card blog-half style-5">
                            <div class="dz-media">
                                <img src="{% static 'pixio/images/blog/blogpost-4/pic5.jpg' %}" alt="/">
                            </div>
                            <div class="dz-info">
                                <div class="dz-meta">
                                    <ul>
                                        <li class="post-date">9 Aug 2023</li>
                                    </ul>
                                </div>
                                <h3 class="dz-title">
                                    <a href="{% url 'pixio:post-header-image' %}">Fashion Forward: Spotlight on Emerging Designers</a>
                                </h3>
                                <a href="{% url 'pixio:post-header-image' %}" class="font-14 read-btn">Read More 
                                    <i class="icon feather icon-chevron-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 col-sm-6 m-lg-b30 m-b50 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="dz-card blog-half style-5">
                            <div class="dz-media">
                                <img src="{% static 'pixio/images/blog/blogpost-4/pic6.jpg' %}" alt="/">
                            </div>
                            <div class="dz-info">
                                <div class="dz-meta">
                                    <ul>
                                        <li class="post-date">18 June 2023</li>
                                    </ul>
                                </div>
                                <h3 class="dz-title">
                                    <a href="{% url 'pixio:post-header-image' %}">Sustainable Style: Eco-Friendly Fashion Choices</a>
                                </h3>
                                <a href="{% url 'pixio:post-header-image' %}" class="font-14 read-btn">Read More 
                                    <i class="icon feather icon-chevron-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-12 text-center mt-sm-4 mb-sm-4  wow fadeInUp" data-wow-delay="0.7s">
                        <a href="{% url 'pixio:blog-archive' %}" class="btn btn-secondary">
                            Loadmore
                        </a>
                    </div>
                
                </div>
            </div>
            <div class="col-xl-4 col-lg-4">
                <aside class="side-bar sticky-top mt-lg-0 mt-md-5 mt-3">
                    <div class="widget">
                        <h5 class="widget-title">Search</h5>
                        <div class="search-bx">
                            <form role="search" method="">
                                <div class="input-group">
                                    <input name="text" class="form-control" placeholder="Search" type="text">
                                    <span class="input-group-btn">
                                        <button class="btn">
                                            <i class="icon feather icon-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="widget widget_categories style-1">
                        <h5 class="widget-title">Category</h5>
                        <ul>
                            <li class="cat-item"><a href="{% url 'pixio:blog-category' %}">Dresses</a> (10)</li>
                            <li class="cat-item"><a href="{% url 'pixio:blog-category' %}">Top & Blouses</a> (5)</li>
                            <li class="cat-item"><a href="{% url 'pixio:blog-category' %}">Boots</a> (17)</li>
                            <li class="cat-item"><a href="{% url 'pixio:blog-category' %}">Jewelry</a> (13)</li>
                            <li class="cat-item"><a href="{% url 'pixio:blog-category' %}">Makeup</a> (06)</li> 
                            <li class="cat-item"><a href="{% url 'pixio:blog-category' %}">Fragrances</a> (17)</li> 
                            <li class="cat-item"><a href="{% url 'pixio:blog-category' %}">Shaving & Grooming</a> (13)</li> 
                            <li class="cat-item"><a href="{% url 'pixio:blog-category' %}">Jacket</a> (06)</li> 
                            <li class="cat-item"><a href="{% url 'pixio:blog-category' %}">Coat</a> (22)</li> 
                        </ul>
                    </div>
                    <div class="widget recent-posts-entry">
                        <h5 class="widget-title">Latest Post</h5>
                        <div class="widget-post-bx">
                            <div class="widget-post clearfix">
                                <div class="dz-media"> 
                                    <a href="{% url 'pixio:post-standard' %}"><img src="{% static 'pixio/images/blog/recent-blog/pic1.jpg' %}" alt="/"></a>
                                </div>
                                <div class="dz-info">
                                    <div class="dz-meta">
                                        <ul>
                                            <li class="post-date"> 17 May 2022 </li>
                                        </ul>
                                    </div>
                                    <h6 class="title"><a href="{% url 'pixio:post-standard' %}">The Anatomy of an Effective Shopping Cart Page</a></h6>
                                </div>
                            </div>
                            <div class="widget-post clearfix">
                                <div class="dz-media"> 
                                    <a href="{% url 'pixio:post-standard' %}"><img src="{% static 'pixio/images/blog/recent-blog/pic2.jpg' %}" alt="/"></a>
                                </div>
                                <div class="dz-info">
                                    <div class="dz-meta">
                                        <ul>
                                            <li class="post-date">17 May 2022 </li>
                                        </ul>
                                    </div>
                                    <h6 class="title"><a href="{% url 'pixio:post-standard' %}">Shopping Cart Design User-Friendly Tips and Best Practices</a></h6>
                                </div>
                            </div>
                            <div class="widget-post clearfix">
                                <div class="dz-media"> 
                                    <a href="{% url 'pixio:post-standard' %}"><img src="{% static 'pixio/images/blog/recent-blog/pic3.jpg' %}" alt="/"></a> 
                                </div>
                                <div class="dz-info">
                                    <div class="dz-meta">
                                        <ul>
                                            <li class="post-date"> 17 May 2022 </li>
                                        </ul>
                                    </div>
                                    <h6 class="title"><a href="{% url 'pixio:post-standard' %}">Shopping Cart Security Keeping Your Customers' Data Safe</a></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget widget_tag_cloud">
                        <h5 class="widget-title">Tags</h5>
                        <div class="tagcloud"> 
                            <a href="{% url 'pixio:blog-tag' %}">Vintage </a>
                            <a href="{% url 'pixio:blog-tag' %}">Wedding</a>
                            <a href="{% url 'pixio:blog-tag' %}">Cotton</a>
                            <a href="{% url 'pixio:blog-tag' %}">Linen</a>
                            <a href="{% url 'pixio:blog-tag' %}">Navy</a>
                            <a href="{% url 'pixio:blog-tag' %}">Urban</a>
                            <a href="{% url 'pixio:blog-tag' %}">Business Meeting</a>
                            <a href="{% url 'pixio:blog-tag' %}">Formal</a>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>
{% endblock %}
 
