<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Meta -->
	{% load static custom_tags %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="author" content="DexignZone">
	<meta name="robots" content="">
	<meta name="keywords" content="{{ dz_array.public.keywords }}" />
	<meta name="description" content="{{ dz_array.public.description }}" />
	<meta property="og:title" content="{{ dz_array.public.og_title }}" />
	<meta property="og:description" content="{{ dz_array.public.og_description }}" />
	<meta property="og:image" content="{{ dz_array.public.og_image }}" />
	<meta name="format-detection" content="telephone=no">
	
	<!-- Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- PAGE TITLE HERE -->
	<title>{{ dz_array.public.title }}</title>
    
	<!-- FAVICONS ICON -->
	<link rel="shortcut icon" type="image/png" href="{% static dz_array.public.favicon  %}" />

    {% for cssurl in dz_array.pagelevel.pixio.pixio_views.css|getdata:request.path %}
    <link rel="stylesheet" href="{% static cssurl %}" >
	{% endfor %}
	
	<!-- Custom Stylesheet -->
    {% for cssurl in dz_array.global.css %}
    <link rel="stylesheet" href="{% static cssurl %}">
	{% endfor %}

	<!-- GOOGLE FONTS-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head> 
<body>
<div class="page-wraper">
    <div id="loading-area" class="preloader-wrapper-1">
        <div class="loader">
            <div class="load-circle">
                <div class="circle-2">
                    <img src="{% static 'pixio/images/logo.png' %}" alt="/">
                </div>
            </div>
        </div>
    </div>	
    <section class="px-3 overflow-hidden bg-light">
        <div class="row dz-coming-soon">
            <div class="col-xxl-6 col-xl-6 col-lg-6 px-0">
                <div class="dz-coming-bx single-page">
                    <div class="logo">
                        <a href="{% url 'pixio:index' %}"><img src="{% static 'pixio/images/logo.png' %}" alt=""></a>
                    </div>
                    <div class="dz-content">
                        <h2 class="dz-title pe-xl-4">Our awesome new site is almost ready to launch!</h2>
                        <p>In the meantime, sign up for our monthly Newsletter to stay up yo date.</p>
                        
                        <form class="dzSubscribe" action="#" method="">
                            <div class="dzSubscribeMsg"></div>
                            <div class="ft-row m-b15 d-flex align-items-center">
                                <input name="dzEmail" required="required" type="email" placeholder="Your Email Address" class="form-control bg-light">
                                <button name="submit" value="Submit" type="submit" class="btn btn-secondary">Subscribe</button>
                            </div>
                        </form>
                    </div>	
                    <div class="countdown-row">
                        <div class="countdown">
                            <div class="date">
                                <span class="time" id="day">00</span>
                                <span class="text"> Days</span>
                            </div>
                            <div class="date">
                                <span class="time" id="hour">00</span>
                                <span class="text">Hours</span>
                            </div>
                            <div class="date">
                                <span class="time" id="min">00</span>
                                <span class="text">Minutes</span>
                            </div>
                            <div class="date">
                                <div class="time lost" id="second">00</div>
                                <span class="text">Seconds</span>
                            </div>
                        </div>
                    </div>
                </div>
                <img src="{% static 'pixio/images/circle-lines.png' %}" class="bg-img" alt="">
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 px-0  d-lg-block d-none">
                <div class="dz-coming-bx2">
                    <img src="{% static 'pixio/images/circle-lines2.png' %}" class="bg-img2" alt="">
                    <div class="dz-coming-media">
                        <img src="{% static 'pixio/images/lady.png' %}" alt="">   
                    </div>	
                </div>
                <div class="banner-social-media style-1">
                    <ul>
                        <li>
                            <a target="_blank" href="https://www.instagram.com/dexignzone/">Instagram</a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.facebook.com/dexignzone">Facebook</a>
                        </li>
                        <li>
                            <a target="_blank" href="https://twitter.com/dexignzones">twitter</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- JAVASCRIPT FILES ========================================= -->
{% for jsurl in dz_array.global.js.top %}
<script src="{% static jsurl %}"></script>
{% endfor %}

{% for jsurl in dz_array.pagelevel.pixio.pixio_views.js|getdata:request.path %}
<script src="{% static jsurl %}"></script>
{% endfor %}

{% for jsurl in dz_array.global.js.bottom %}
<script src="{% static jsurl %}"></script>
{% endfor %}

{% block additional_js %}
{% endblock %}

</body>
</html>