{% extends 'pixio/elements/layouts/layout-header.html' %}
{% load static %}
        
{% block additional_css %}
{% endblock %}
		
{% block content %}
<div class="content-inner">
    <div class="container">
        <div class="row align-items-center">
            <div class="code-copy">
                <a  id="copyButton" class="btn">Copy</a>
                <pre class="code-box" id="copyTarget">

&lt;header class="site-header mo-left header style-3"&gt;		
&lt;!-- Main Header --&gt;
&lt;div class="sticky-header main-bar-wraper"&gt;
    &lt;div class="main-bar clearfix"&gt;
        &lt;div class="container-fluid clearfix"&gt;
            &lt;!-- Nav Toggle Button --&gt;
            &lt;button class="menu-nav-btn collapsed" data-bs-toggle="collapse"  type="button" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"&gt;
                &lt;span class="for-dots"&gt;
                    &lt;span&gt;&lt;/span&gt;
                    &lt;span&gt;&lt;/span&gt;
                    &lt;span&gt;&lt;/span&gt;
                    &lt;span&gt;&lt;/span&gt;
                &lt;/span&gt;
                &lt;span class="dots-close"&gt;
                    &lt;svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg"&gt;
                    &lt;rect width="20" height="2.10526" transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 22.0635 20.561)" fill="white"/&gt;
                    &lt;rect x="6.43262" y="20.5611" width="20" height="2.10526" transform="rotate(-45 6.43262 20.5611)" fill="white"/&gt;
                    &lt;/svg&gt;
                &lt;/span&gt;
            &lt;/button&gt;
            &lt;!-- Website Logo --&gt;
            &lt;div class="logo-header me-5"&gt;
                &lt;a href="{% url 'pixio:index' %}"&gt;
                    &lt;img src="{% static 'pixio/images/logo.svg' %}" class="logo-dark" alt="logo"&gt;
                    &lt;img src="{% static 'pixio/images/logo-white.svg' %}" class="logo-light" alt="logo"&gt;
                &lt;/a&gt;
            &lt;/div&gt;
            &lt;!-- EXTRA NAV --&gt;
            &lt;div class="extra-nav"&gt;
                &lt;div class="extra-cell"&gt;						
                    &lt;ul class="header-right"&gt;
                        &lt;li class="nav-item login-link"&gt;
                            &lt;a class="nav-link" href="{% url 'pixio:shop-my-account' %}"&gt;
                                Login / Register
                            &lt;/a&gt;
                        &lt;/li&gt;
                        &lt;li class="nav-item search-link"&gt;
                            &lt;a class="nav-link" href="javascript:void(0);" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop"&gt;
                                &lt;i class="iconly-Light-Search"&gt;&lt;/i&gt;
                            &lt;/a&gt;
                        &lt;/li&gt;
                        &lt;li class="nav-item wishlist-link"&gt;
                            &lt;a class="nav-link" href="javascript:void(0);" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"&gt;
                                &lt;i class="iconly-Light-Heart2"&gt;&lt;/i&gt;
                            &lt;/a&gt;
                        &lt;/li&gt;
                        &lt;li class="nav-item cart-link"&gt;
                            &lt;a href="javascript:void(0);" class="nav-link cart-btn"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"&gt;
                                &lt;i class="iconly-Broken-Buy"&gt;&lt;/i&gt;
                                &lt;span class="badge badge-circle"&gt;5&lt;/span&gt;
                            &lt;/a&gt;
                        &lt;/li&gt;
                        &lt;li class="nav-item filte-link"&gt;
                            &lt;a href="javascript:void(0);" class="nav-link filte-btn"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasLeft" aria-controls="offcanvasLeft"&gt;
                                &lt;svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 13" fill="none"&gt;
                                    &lt;rect y="11" width="30" height="2" fill="black"/&gt;
                                    &lt;rect width="30" height="2" fill="black"/&gt;
                                &lt;/svg&gt;
                            &lt;/a&gt;
                        &lt;/li&gt;
                    &lt;/ul&gt;
                &lt;/div&gt;
            &lt;/div&gt;

        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;!-- Main Header End --&gt;
&lt;!-- SearchBar --&gt;
&lt;div class="dz-search-area dz-offcanvas offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop"&gt;
    &lt;button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"&gt;
        &times;
    &lt;/button&gt;
    &lt;div class="container"&gt;
        &lt;form class="header-item-search"&gt;
            &lt;div class="input-group search-input"&gt;
                &lt;select class="default-select"&gt;
                    &lt;option&gt;All Categories&lt;/option&gt;
                    &lt;option&gt;Clothes&lt;/option&gt;
                    &lt;option&gt;UrbanSkirt&lt;/option&gt;
                    &lt;option&gt;VelvetGown&lt;/option&gt;
                    &lt;option&gt;LushShorts&lt;/option&gt;
                    &lt;option&gt;Vintage&lt;/option&gt;
                    &lt;option&gt;Wedding&lt;/option&gt;
                    &lt;option&gt;Cotton&lt;/option&gt;
                    &lt;option&gt;Linen&lt;/option&gt;
                    &lt;option&gt;Navy&lt;/option&gt;
                    &lt;option&gt;Urban&lt;/option&gt;
                    &lt;option&gt;Business Meeting&lt;/option&gt;
                    &lt;option&gt;Formal&lt;/option&gt;
                &lt;/select&gt;
                &lt;input type="search" class="form-control" placeholder="Search Product"&gt;
                &lt;button class="btn" type="button"&gt;
                    &lt;i class="iconly-Light-Search"&gt;&lt;/i&gt;
                &lt;/button&gt;
            &lt;/div&gt;
            &lt;ul class="recent-tag"&gt;
                &lt;li class="pe-0"&gt;&lt;span&gt;Quick Search :&lt;/span&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href="{% url 'pixio:shop-list' %}"&gt;Clothes&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href="{% url 'pixio:shop-list' %}"&gt;UrbanSkirt&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href="{% url 'pixio:shop-list' %}"&gt;VelvetGown&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href="{% url 'pixio:shop-list' %}"&gt;LushShorts&lt;/a&gt;&lt;/li&gt;
            &lt;/ul&gt;
        &lt;/form&gt;
        &lt;div class="row"&gt;
            &lt;div class="col-xl-12"&gt;
                &lt;h5 class="mb-3"&gt;You May Also Like&lt;/h5&gt;
                &lt;div class="swiper category-swiper2"&gt;
                    &lt;div class="swiper-wrapper"&gt;
                        &lt;div class="swiper-slide"&gt;
                            &lt;div class="shop-card"&gt;
                                &lt;div class="dz-media "&gt;
                                    &lt;img src="{% static 'pixio/images/shop/product/1.png' %}" alt="image"&gt;
                                &lt;/div&gt;
                                &lt;div class="dz-content"&gt;
                                    &lt;h6 class="title"&gt;&lt;a href="{% url 'pixio:shop-list' %}"&gt;SilkBliss Dress&lt;/a&gt;&lt;/h6&gt;
                                    &lt;h6 class="price"&gt;$40.00&lt;/h6&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class="swiper-slide"&gt;
                            &lt;div class="shop-card"&gt;
                                &lt;div class="dz-media "&gt;
                                    &lt;img src="{% static 'pixio/images/shop/product/3.png' %}" alt="image"&gt;
                                &lt;/div&gt;
                                &lt;div class="dz-content"&gt;
                                    &lt;h6 class="title"&gt;&lt;a href="{% url 'pixio:shop-list' %}"&gt;GlamPants&lt;/a&gt;&lt;/h6&gt;
                                    &lt;h6 class="price"&gt;$30.00&lt;/h6&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class="swiper-slide"&gt;
                            &lt;div class="shop-card"&gt;
                                &lt;div class="dz-media "&gt;
                                    &lt;img src="{% static 'pixio/images/shop/product/4.png' %}" alt="image"&gt;
                                &lt;/div&gt;
                                &lt;div class="dz-content"&gt;
                                    &lt;h6 class="title"&gt;&lt;a href="{% url 'pixio:shop-list' %}"&gt;ComfyLeggings&lt;/a&gt;&lt;/h6&gt;
                                    &lt;h6 class="price"&gt;$35.00&lt;/h6&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class="swiper-slide"&gt;
                            &lt;div class="shop-card"&gt;
                                &lt;div class="dz-media "&gt;
                                    &lt;img src="{% static 'pixio/images/shop/product/2.png' %}" alt="image"&gt;
                                &lt;/div&gt;
                                &lt;div class="dz-content"&gt;
                                    &lt;h6 class="title"&gt;&lt;a href="{% url 'pixio:shop-list' %}"&gt;ClassicCapri&lt;/a&gt;&lt;/h6&gt;
                                    &lt;h6 class="price"&gt;$20.00&lt;/h6&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class="swiper-slide"&gt;
                            &lt;div class="shop-card"&gt;
                                &lt;div class="dz-media "&gt;
                                    &lt;img src="{% static 'pixio/images/shop/product/5.png' %}" alt="image"&gt;
                                &lt;/div&gt;
                                &lt;div class="dz-content"&gt;
                                    &lt;h6 class="title"&gt;&lt;a href="{% url 'pixio:shop-list' %}"&gt;DapperCoat&lt;/a&gt;&lt;/h6&gt;
                                    &lt;h6 class="price"&gt;$70.00&lt;/h6&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class="swiper-slide"&gt;
                            &lt;div class="shop-card"&gt;
                                &lt;div class="dz-media "&gt;
                                    &lt;img src="{% static 'pixio/images/shop/product/6.png' %}" alt="image"&gt;
                                &lt;/div&gt;
                                &lt;div class="dz-content"&gt;
                                    &lt;h6 class="title"&gt;&lt;a href="{% url 'pixio:shop-list' %}"&gt;ComfyLeggings&lt;/a&gt;&lt;/h6&gt;
                                    &lt;h6 class="price"&gt;$45.00&lt;/h6&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class="swiper-slide"&gt;
                            &lt;div class="shop-card"&gt;
                                &lt;div class="dz-media "&gt;
                                    &lt;img src="{% static 'pixio/images/shop/product/7.png' %}" alt="image"&gt;	
                                &lt;/div&gt;
                                &lt;div class="dz-content"&gt;
                                    &lt;h6 class="title"&gt;&lt;a href="{% url 'pixio:shop-list' %}"&gt;DenimDream Jeans&lt;/a&gt;&lt;/h6&gt;
                                    &lt;h6 class="price"&gt;$40.00&lt;/h6&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;div class="swiper-slide"&gt;
                            &lt;div class="shop-card"&gt;
                                &lt;div class="dz-media "&gt;
                                    &lt;img src="{% static 'pixio/images/shop/product/4.png' %}" alt="image"&gt;	
                                &lt;/div&gt;
                                &lt;div class="dz-content"&gt;
                                    &lt;h6 class="title"&gt;&lt;a href="{% url 'pixio:shop-list' %}"&gt;SilkBliss Dress&lt;/a&gt;&lt;/h6&gt;
                                    &lt;h6 class="price"&gt;$60.00&lt;/h6&gt;
                                &lt;/div&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;!-- SearchBar --&gt;

&lt;!-- Sidebar cart --&gt;
&lt;div class="offcanvas dz-offcanvas offcanvas offcanvas-end " tabindex="-1" id="offcanvasRight"&gt;
    &lt;button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"&gt;
        &times;
    &lt;/button&gt;
    &lt;div class="offcanvas-body"&gt;
        &lt;div class="product-description"&gt;
            &lt;div class="dz-tabs"&gt;
                &lt;ul class="nav nav-tabs center" id="myTab" role="tablist"&gt;
                    &lt;li class="nav-item" role="presentation"&gt;
                        &lt;button class="nav-link active" id="shopping-cart" data-bs-toggle="tab" data-bs-target="#shopping-cart-pane" type="button" role="tab" aria-controls="shopping-cart-pane" aria-selected="true"&gt;Shopping Cart
                            &lt;span class="badge badge-light"&gt;5&lt;/span&gt;
                        &lt;/button&gt;
                    &lt;/li&gt;
                    &lt;li class="nav-item" role="presentation"&gt;
                        &lt;button class="nav-link" id="wishlist" data-bs-toggle="tab" data-bs-target="#wishlist-pane" type="button" role="tab" aria-controls="wishlist-pane" aria-selected="false"&gt;Wishlist
                            &lt;span class="badge badge-light"&gt;2&lt;/span&gt;
                        &lt;/button&gt;
                    &lt;/li&gt;
                &lt;/ul&gt;
                &lt;div class="tab-content pt-4" id="dz-shopcart-sidebar"&gt;
                    &lt;div class="tab-pane fade show active" id="shopping-cart-pane" role="tabpanel" aria-labelledby="shopping-cart" tabindex="0"&gt;
                        &lt;div class="shop-sidebar-cart"&gt;
                            &lt;ul class="sidebar-cart-list"&gt;
                                &lt;li&gt;
                                    &lt;div class="cart-widget"&gt;
                                        &lt;div class="dz-media me-3"&gt;
                                            &lt;img src="{% static 'pixio/images/shop/shop-cart/pic1.jpg' %}" alt=""&gt;
                                        &lt;/div&gt;
                                        &lt;div class="cart-content"&gt;
                                            &lt;h6 class="title"&gt;&lt;a href="{% url 'pixio:product-thumbnail' %}"&gt;Sophisticated Swagger Suit&lt;/a&gt;&lt;/h6&gt;
                                            &lt;div class="d-flex align-items-center"&gt;
                                                &lt;div class="btn-quantity light quantity-sm me-3"&gt;
                                                    &lt;input type="text" value="1" name="demo_vertical2"&gt;
                                                &lt;/div&gt;
                                                &lt;h6 class="dz-price mb-0"&gt;$50.00&lt;/h6&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                        &lt;a href="javascript:void(0);" class="dz-close"&gt;
                                            &lt;i class="ti-close"&gt;&lt;/i&gt;
                                        &lt;/a&gt;
                                    &lt;/div&gt;
                                &lt;/li&gt;
                                &lt;li&gt;
                                    &lt;div class="cart-widget"&gt;
                                        &lt;div class="dz-media me-3"&gt;
                                            &lt;img src="{% static 'pixio/images/shop/shop-cart/pic2.jpg' %}" alt=""&gt;
                                        &lt;/div&gt;
                                        &lt;div class="cart-content"&gt;
                                            &lt;h6 class="title"&gt;&lt;a href="{% url 'pixio:product-thumbnail' %}"&gt;Cozy Knit Cardigan Sweater&lt;/a&gt;&lt;/h6&gt;
                                            &lt;div class="d-flex align-items-center"&gt;
                                                &lt;div class="btn-quantity light quantity-sm me-3"&gt;
                                                    &lt;input type="text" value="1" name="demo_vertical2"&gt;
                                                &lt;/div&gt;
                                                &lt;h6 class="dz-price mb-0"&gt;$40.00&lt;/h6&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                        &lt;a href="javascript:void(0);" class="dz-close"&gt;
                                            &lt;i class="ti-close"&gt;&lt;/i&gt; 
                                        &lt;/a&gt;
                                    &lt;/div&gt;
                                &lt;/li&gt;
                                &lt;li&gt;
                                    &lt;div class="cart-widget"&gt;
                                        &lt;div class="dz-media me-3"&gt;
                                            &lt;img src="{% static 'pixio/images/shop/shop-cart/pic3.jpg' %}" alt=""&gt;
                                        &lt;/div&gt;
                                        &lt;div class="cart-content"&gt;
                                            &lt;h6 class="title"&gt;&lt;a href="{% url 'pixio:product-thumbnail' %}"&gt;Athletic Mesh Sports Leggings&lt;/a&gt;&lt;/h6&gt;
                                            &lt;div class="d-flex align-items-center"&gt;
                                                &lt;div class="btn-quantity light quantity-sm me-3"&gt;
                                                    &lt;input type="text" value="1" name="demo_vertical2"&gt;
                                                &lt;/div&gt;
                                                &lt;h6 class="dz-price  mb-0"&gt;$65.00&lt;/h6&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                        &lt;a href="javascript:void(0);" class="dz-close"&gt;
                                            &lt;i class="ti-close"&gt;&lt;/i&gt;
                                        &lt;/a&gt;
                                    &lt;/div&gt;
                                &lt;/li&gt;	
                            &lt;/ul&gt;
                            &lt;div class="cart-total"&gt;
                                &lt;h5 class="mb-0"&gt;Subtotal:&lt;/h5&gt;
                                &lt;h5 class="mb-0"&gt;300.00$&lt;/h5&gt;
                            &lt;/div&gt;
                            &lt;div class="mt-auto"&gt;
                                &lt;div class="shipping-time"&gt;													
                                    &lt;div class="dz-icon"&gt;
                                        &lt;i class="flaticon flaticon-ship"&gt;&lt;/i&gt;
                                    &lt;/div&gt;
                                    &lt;div class="shipping-content"&gt;
                                        &lt;h6 class="title pe-4"&gt;Congratulations , you've got free shipping!&lt;/h6&gt;
                                        &lt;div class="progress"&gt;
                                            &lt;div class="progress-bar progress-animated border-0" style="width: 75%;" role="progressbar"&gt;
                                                &lt;span class="sr-only"&gt;75% Complete&lt;/span&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                                &lt;a href="{% url 'pixio:shop-checkout' %}" class="btn btn-outline-secondary btn-block m-b20"&gt;Checkout&lt;/a&gt;	
                                &lt;a href="{% url 'pixio:shop-cart' %}" class="btn btn-secondary btn-block"&gt;View Cart&lt;/a&gt;	
                            &lt;/div&gt;	
                        &lt;/div&gt;	
                    &lt;/div&gt;
                    &lt;div class="tab-pane fade" id="wishlist-pane" role="tabpanel" aria-labelledby="wishlist" tabindex="0"&gt;
                        &lt;div class="shop-sidebar-cart"&gt;
                            &lt;ul class="sidebar-cart-list"&gt;
                                &lt;li&gt;
                                    &lt;div class="cart-widget"&gt;
                                        &lt;div class="dz-media me-3"&gt;
                                            &lt;img src="{% static 'pixio/images/shop/shop-cart/pic1.jpg' %}" alt=""&gt;
                                        &lt;/div&gt;
                                        &lt;div class="cart-content"&gt;
                                            &lt;h6 class="title"&gt;&lt;a href="{% url 'pixio:product-thumbnail' %}"&gt;Sophisticated Swagger Suit&lt;/a&gt;&lt;/h6&gt;
                                            &lt;div class="d-flex align-items-center"&gt;
                                                &lt;h6 class="dz-price  mb-0"&gt;$50.00&lt;/h6&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                        &lt;a href="javascript:void(0);" class="dz-close"&gt;
                                            &lt;i class="ti-close"&gt;&lt;/i&gt;
                                        &lt;/a&gt;
                                    &lt;/div&gt;
                                &lt;/li&gt;
                                &lt;li&gt;
                                    &lt;div class="cart-widget"&gt;
                                        &lt;div class="dz-media me-3"&gt;
                                            &lt;img src="{% static 'pixio/images/shop/shop-cart/pic2.jpg' %}" alt=""&gt;
                                        &lt;/div&gt;
                                        &lt;div class="cart-content"&gt;
                                            &lt;h6 class="title"&gt;&lt;a href="{% url 'pixio:product-thumbnail' %}"&gt;Cozy Knit Cardigan Sweater&lt;/a&gt;&lt;/h6&gt;
                                            &lt;div class="d-flex align-items-center"&gt;
                                                &lt;h6 class="dz-price  mb-0"&gt;$40.00&lt;/h6&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                        &lt;a href="javascript:void(0);" class="dz-close"&gt;
                                            &lt;i class="ti-close"&gt;&lt;/i&gt; 
                                        &lt;/a&gt;
                                    &lt;/div&gt;
                                &lt;/li&gt;
                                &lt;li&gt;
                                    &lt;div class="cart-widget"&gt;
                                        &lt;div class="dz-media me-3"&gt;
                                            &lt;img src="{% static 'pixio/images/shop/shop-cart/pic3.jpg' %}" alt=""&gt;
                                        &lt;/div&gt;
                                        &lt;div class="cart-content"&gt;
                                            &lt;h6 class="title"&gt;&lt;a href="{% url 'pixio:product-thumbnail' %}"&gt;Athletic Mesh Sports Leggings&lt;/a&gt;&lt;/h6&gt;
                                            &lt;div class="d-flex align-items-center"&gt;
                                                &lt;h6 class="dz-price  mb-0"&gt;$65.00&lt;/h6&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                        &lt;a href="javascript:void(0);" class="dz-close"&gt;
                                            &lt;i class="ti-close"&gt;&lt;/i&gt;
                                        &lt;/a&gt;
                                    &lt;/div&gt;
                                &lt;/li&gt;	
                            &lt;/ul&gt;
                            &lt;div class="mt-auto"&gt;
                                &lt;a href="{% url 'pixio:shop-wishlist' %}" class="btn btn-secondary btn-block"&gt;Check Your Favourite&lt;/a&gt;
                            &lt;/div&gt;	
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;!-- Sidebar cart --&gt;

&lt;!-- Sidebar finter --&gt;
&lt;div class="offcanvas dz-offcanvas offcanvas offcanvas-end " tabindex="-1" id="offcanvasLeft"&gt;
    &lt;button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"&gt;
        &times;
    &lt;/button&gt;
    &lt;div class="offcanvas-body"&gt;
        &lt;div class="product-description"&gt;
            &lt;div class="widget widget_search"&gt;
                &lt;div class="form-group"&gt;
                    &lt;div class="input-group"&gt;
                        &lt;input name="dzSearch" required="required" type="search" class="form-control" placeholder="Search Product"&gt;
                        &lt;div class="input-group-addon"&gt;
                            &lt;button name="submit" value="Submit" type="submit" class="btn"&gt;
                                &lt;i class="icon feather icon-search"&gt;&lt;/i&gt;
                            &lt;/button&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="widget"&gt;
                &lt;h6 class="widget-title"&gt;Price&lt;/h6&gt;
                &lt;div class="price-slide range-slider"&gt;
                    &lt;div class="price"&gt;
                        &lt;div class="range-slider style-1"&gt;
                            &lt;div id="slider-tooltips" class="mb-3"&gt;&lt;/div&gt;
                            &lt;span class="example-val" id="slider-margin-value-min"&gt;&lt;/span&gt;
                            &lt;span class="example-val" id="slider-margin-value-max"&gt;&lt;/span&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="widget"&gt;
                &lt;h6 class="widget-title"&gt;Color&lt;/h6&gt;
                &lt;div class="d-flex align-items-center flex-wrap color-filter ps-2"&gt;
                    &lt;div class="form-check"&gt;
                        &lt;input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel1" value="#000000" aria-label="..." checked&gt;
                        &lt;span&gt;&lt;/span&gt;
                    &lt;/div&gt;
                    &lt;div class="form-check"&gt;
                        &lt;input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel2" value="#9BD1FF" aria-label="..."&gt;
                        &lt;span&gt;&lt;/span&gt;
                    &lt;/div&gt;
                    &lt;div class="form-check"&gt;
                        &lt;input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel3" value="#21B290" aria-label="..."&gt;
                        &lt;span&gt;&lt;/span&gt;
                    &lt;/div&gt;
                    &lt;div class="form-check"&gt;
                        &lt;input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel4" value="#FEC4C4" aria-label="..."&gt;
                        &lt;span&gt;&lt;/span&gt;
                    &lt;/div&gt;
                    &lt;div class="form-check"&gt;
                        &lt;input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel5" value="#FF7354" aria-label="..."&gt;
                        &lt;span&gt;&lt;/span&gt;
                    &lt;/div&gt;
                    &lt;div class="form-check"&gt;
                        &lt;input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel6" value="#51EDC8" aria-label="..."&gt;
                        &lt;span&gt;&lt;/span&gt;
                    &lt;/div&gt;
                    &lt;div class="form-check"&gt;
                        &lt;input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel7" value="#B77CF3" aria-label="..."&gt;
                        &lt;span&gt;&lt;/span&gt;
                    &lt;/div&gt;
                    &lt;div class="form-check"&gt;
                        &lt;input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel8" value="#FF4A76" aria-label="..."&gt;
                        &lt;span&gt;&lt;/span&gt;
                    &lt;/div&gt;
                    &lt;div class="form-check"&gt;
                        &lt;input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel9" value="#3E68FF" aria-label="..."&gt;
                        &lt;span&gt;&lt;/span&gt;
                    &lt;/div&gt;
                    &lt;div class="form-check"&gt;
                        &lt;input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabe20" value="#7BEF68" aria-label="..."&gt;
                        &lt;span&gt;&lt;/span&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;

            &lt;div class="widget"&gt;
                &lt;h6 class="widget-title"&gt;Size&lt;/h6&gt;
                &lt;div class="btn-group product-size"&gt;
                    &lt;input type="radio" class="btn-check" name="btnradio1" id="btnradio11" checked=""&gt;
                    &lt;label class="btn" for="btnradio11"&gt;4&lt;/label&gt;

                    &lt;input type="radio" class="btn-check" name="btnradio1" id="btnradio21"&gt;
                    &lt;label class="btn" for="btnradio21"&gt;6&lt;/label&gt;

                    &lt;input type="radio" class="btn-check" name="btnradio1" id="btnradio31"&gt;
                    &lt;label class="btn" for="btnradio31"&gt;8&lt;/label&gt;
                  
                    &lt;input type="radio" class="btn-check" name="btnradio1" id="btnradio41"&gt;
                    &lt;label class="btn" for="btnradio41"&gt;10&lt;/label&gt;
                    
                    &lt;input type="radio" class="btn-check" name="btnradio1" id="btnradio51"&gt;
                    &lt;label class="btn" for="btnradio51"&gt;12&lt;/label&gt;
                    
                    &lt;input type="radio" class="btn-check" name="btnradio1" id="btnradio61"&gt;
                    &lt;label class="btn" for="btnradio61"&gt;14&lt;/label&gt;
                    
                    &lt;input type="radio" class="btn-check" name="btnradio1" id="btnradio71"&gt;
                    &lt;label class="btn" for="btnradio71"&gt;16&lt;/label&gt;
                    
                    &lt;input type="radio" class="btn-check" name="btnradio1" id="btnradio81"&gt;
                    &lt;label class="btn" for="btnradio81"&gt;18&lt;/label&gt;
                    
                    &lt;input type="radio" class="btn-check" name="btnradio1" id="btnradio91"&gt;
                    &lt;label class="btn" for="btnradio91"&gt;20&lt;/label&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="widget widget_categories"&gt;
                &lt;h6 class="widget-title"&gt;Category&lt;/h6&gt;
                &lt;ul&gt;
                    &lt;li class="cat-item cat-item-26"&gt;&lt;a href="{% url 'pixio:blog-category' %}"&gt;Dresses&lt;/a&gt; (10)&lt;/li&gt;
                    &lt;li class="cat-item cat-item-36"&gt;&lt;a href="{% url 'pixio:blog-category' %}"&gt;Top &amp; Blouses&lt;/a&gt; (5)&lt;/li&gt;
                    &lt;li class="cat-item cat-item-43"&gt;&lt;a href="{% url 'pixio:blog-category' %}"&gt;Boots&lt;/a&gt; (17)&lt;/li&gt;
                    &lt;li class="cat-item cat-item-27"&gt;&lt;a href="{% url 'pixio:blog-category' %}"&gt;Jewelry&lt;/a&gt; (13)&lt;/li&gt;
                    &lt;li class="cat-item cat-item-40"&gt;&lt;a href="{% url 'pixio:blog-category' %}"&gt;Makeup&lt;/a&gt; (06)&lt;/li&gt; 
                    &lt;li class="cat-item cat-item-40"&gt;&lt;a href="{% url 'pixio:blog-category' %}"&gt;Fragrances&lt;/a&gt; (17)&lt;/li&gt; 
                    &lt;li class="cat-item cat-item-40"&gt;&lt;a href="{% url 'pixio:blog-category' %}"&gt;Shaving &amp; Grooming&lt;/a&gt; (13)&lt;/li&gt; 
                    &lt;li class="cat-item cat-item-43"&gt;&lt;a href="{% url 'pixio:blog-category' %}"&gt;Jacket&lt;/a&gt; (06)&lt;/li&gt; 
                    &lt;li class="cat-item cat-item-36"&gt;&lt;a href="{% url 'pixio:blog-category' %}"&gt;Coat&lt;/a&gt; (22)&lt;/li&gt; 
                &lt;/ul&gt;
            &lt;/div&gt;

            &lt;div class="widget widget_tag_cloud"&gt;
                &lt;h6 class="widget-title"&gt;Tags&lt;/h6&gt;
                &lt;div class="tagcloud"&gt; 
                    &lt;a href="{% url 'pixio:blog-tag' %}"&gt;Vintage &lt;/a&gt;
                    &lt;a href="{% url 'pixio:blog-tag' %}"&gt;Wedding&lt;/a&gt;
                    &lt;a href="{% url 'pixio:blog-tag' %}"&gt;Cotton&lt;/a&gt;
                    &lt;a href="{% url 'pixio:blog-tag' %}"&gt;Linen&lt;/a&gt;
                    &lt;a href="{% url 'pixio:blog-tag' %}"&gt;Navy&lt;/a&gt;
                    &lt;a href="{% url 'pixio:blog-tag' %}"&gt;Urban&lt;/a&gt;
                    &lt;a href="{% url 'pixio:blog-tag' %}"&gt;Business Meeting&lt;/a&gt;
                    &lt;a href="{% url 'pixio:blog-tag' %}"&gt;Formal&lt;/a&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;a href="javascript:void(0);" class="btn btn-sm font-14 btn-secondary btn-sharp"&gt;RESET&lt;/a&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;!-- filter sidebar --&gt;
&lt;/header&gt;
            
                </pre>
            </div>
        </div>
    </div>
</div>
{% endblock %}     

{% block additional_js %}
<script>
    $('#copyButton').on('click',function(e){
        e.preventDefault;
        $('#copyButton').addClass('active').text('Copied');
        $('#copyTarget').addClass('active');
        copyToClipboard('#copyTarget');
    });
    
    document.getElementById("copyButton").addEventListener("click", function(e) {
        e.preventDefault;
        $('#copyButton').addClass('active').text('Copied');
        $('#copyTarget').addClass('active');
        copyToClipboard(document.getElementById("copyTarget"));
    });
    function copyToClipboard(elem) {
          // create hidden text element, if it doesn't already exist
        var targetId = "_hiddenCopyText_";
        var isInput = elem.tagName === "INPUT" || elem.tagName === "TEXTAREA";
        var origSelectionStart, origSelectionEnd;
        if (isInput) {
            // can just use the original source element for the selection and copy
            target = elem;
            origSelectionStart = elem.selectionStart;
            origSelectionEnd = elem.selectionEnd;
        } else {
            // must use a temporary form element for the selection and copy
            target = document.getElementById(targetId);
            if (!target) {
                var target = document.createElement("textarea");
                target.style.position = "absolute";
                target.style.left = "-9999px";
                target.style.top = "0";
                target.id = targetId;
                document.body.appendChild(target);
            }
            target.textContent = elem.textContent;
        }
        // select the content
        var currentFocus = document.activeElement;
        target.focus();
        target.setSelectionRange(0, target.value.length);
        
        // copy the selection
        var succeed;
        try {
              succeed = document.execCommand("copy");
        } catch(e) {
            succeed = false;
        }
        // restore original focus
        if (currentFocus && typeof currentFocus.focus === "function") {
            currentFocus.focus();
        }
        if (isInput) {
            // restore prior selection
            elem.setSelectionRange(origSelectionStart, origSelectionEnd);
        } else {
            // clear temporary content
            target.textContent = "";
        }
        return succeed;
    }
</script>
{% endblock %}  

