{% extends 'pixio/elements/layouts/layout-full.html' %}
{% load static %}
        
{% block additional_css %}
{% endblock %}
		
{% block content %}
<div class="page-content bg-light">
    <div class="content-block">
        <div class="section-full overflow-hidden">
            <div id="home-slider" class="split-area">
                <div class="swiper-pagination-two style-1"></div>
                <div class="swiper spilt-swiper-slider spilt-slider-wrapper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="swiper-image swiper-bg portfolio-box style-2 rounded-0" data-swiper-parallax-y="35%" style="background-image:url({% static 'pixio/images/portfolio/portfolio10/pic1.jpg' %})">
                                <div class="dz-content">
                                    <div class="product-tag">
                                        <a href="{% url 'pixio:portfolio-details-1' %}">
                                            <span class="badge badge-primary">Bottles</span>
                                        </a>
                                    </div>
                                    <h4 class="title"><a href="{% url 'pixio:portfolio-details-1' %}"> Hydrate with Confidence using Sturdy Wooden Bottles</a></h4>
                                </div>
                            </div>
                            <div class="swiper-image">
                                <div class="swiper-content">
                                    <div class="portfolio-box style-2 rounded-0">
                                        <div class="dz-media">
                                            <a href="{% url 'pixio:portfolio-details-1' %}">
                                                <img src="{% static 'pixio/images/portfolio/portfolio10/pic2.jpg' %}" alt="/">
                                            </a>
                                        </div>
                                        <div class="dz-content">
                                            <div class="product-tag">
                                                <a href="{% url 'pixio:portfolio-details-1' %}">
                                                    <span class="badge badge-primary">Bottles</span>
                                                </a>
                                            </div>
                                            <h4 class="title"><a href="{% url 'pixio:portfolio-details-1' %}"> Hydrate with Confidence using Sturdy Wooden Bottles</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-image">
                                <div class="swiper-content">
                                    <div class="portfolio-box style-2 rounded-0">
                                        <div class="dz-media">
                                            <a href="{% url 'pixio:portfolio-details-1' %}">
                                                <img src="{% static 'pixio/images/portfolio/portfolio10/pic3.jpg' %}" alt="/">
                                            </a>
                                        </div>
                                        <div class="dz-content">
                                            <div class="product-tag">
                                                <a href="{% url 'pixio:portfolio-details-1' %}">
                                                    <span class="badge badge-primary">Paper Bags</span>
                                                </a>
                                            </div>
                                            <h4 class="title"><a href="{% url 'pixio:portfolio-details-2' %}">Simplify Your Life with Practical Paper Bag </a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-image swiper-bg portfolio-box style-2 rounded-0" data-swiper-parallax-y="35%"  style="background-image:url({% static 'pixio/images/portfolio/portfolio10/pic4.jpg' %})">
                                <div class="dz-content">
                                    <div class="product-tag">
                                        <a href="{% url 'pixio:portfolio-details-1' %}">
                                            <span class="badge badge-primary">Bottles</span>
                                        </a>
                                    </div>
                                    <h4 class="title"><a href="{% url 'pixio:portfolio-details-1' %}">Simplify Your Life with Practical Paper Bag</a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-image swiper-bg portfolio-box style-2 rounded-0" data-swiper-parallax-y="20%" style="background-image:url({% static 'pixio/images/portfolio/portfolio10/pic5.jpg' %})">
                                <div class="dz-content">
                                    <div class="product-tag">
                                        <a href="{% url 'pixio:portfolio-details-1' %}">
                                            <span class="badge badge-primary">Bottles</span>
                                        </a>
                                    </div>
                                    <h4 class="title"><a href="{% url 'pixio:portfolio-details-1' %}">Simplify Your Life with Practical Paper Bag</a></h4>
                                </div>
                            </div>
                            <div class="swiper-image">
                                <div class="swiper-content">
                                    <div class="portfolio-box style-2 rounded-0">
                                        <div class="dz-media">
                                            <a href="{% url 'pixio:portfolio-details-1' %}">
                                                <img src="{% static 'pixio/images/portfolio/portfolio10/pic6.jpg' %}" alt="/">
                                            </a>
                                        </div>
                                        <div class="dz-content">
                                            <div class="product-tag">
                                                <a href="{% url 'pixio:portfolio-details-1' %}">
                                                    <span class="badge badge-primary">Glass</span>
                                                </a>
                                            </div>
                                            <h4 class="title"><a href="{% url 'pixio:portfolio-details-3' %}">Unveiling the Aesthetic Blend of Wood and Glass</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-image">
                                <div class="swiper-content">
                                    <div class="portfolio-box style-2 rounded-0">
                                        <div class="dz-media">
                                            <a href="{% url 'pixio:portfolio-details-1' %}">
                                                <img src="{% static 'pixio/images/portfolio/portfolio10/pic8.jpg' %}" alt="/">
                                            </a>
                                        </div>
                                        <div class="dz-content">
                                            <div class="product-tag">
                                                <a href="{% url 'pixio:portfolio-details-1' %}">
                                                    <span class="badge badge-primary">Bowls</span>
                                                </a>
                                            </div>
                                            <h4 class="title"><a href="{% url 'pixio:portfolio-details-4' %}">Uncovering the Beauty of Plant-Based Products</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-image swiper-bg portfolio-box style-2 rounded-0" data-swiper-parallax-y="35%"  style="background-image:url({% static 'pixio/images/portfolio/portfolio10/pic7.jpg' %})">
                                <div class="dz-content">
                                    <div class="product-tag">
                                        <a href="{% url 'pixio:portfolio-details-1' %}">
                                            <span class="badge badge-primary">Tumbler</span>
                                        </a>
                                    </div>
                                    <h4 class="title"><a href="{% url 'pixio:portfolio-details-4' %}">Uncovering the Beauty of Plant-Based Products</a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-image swiper-bg portfolio-box style-2 rounded-0" data-swiper-parallax-y="20%" style="background-image:url({% static 'pixio/images/portfolio/portfolio10/pic9.jpg' %})">
                                <div class="dz-content">
                                    <div class="product-tag">
                                        <a href="{% url 'pixio:portfolio-details-1' %}">
                                            <span class="badge badge-primary">Tumbler</span>
                                        </a>
                                    </div>
                                    <h4 class="title"><a href="{% url 'pixio:portfolio-details-4' %}">Uncovering the Beauty of Plant-Based Products</a></h4>
                                </div>
                            </div>
                            <div class="swiper-image">
                                <div class="swiper-content">
                                    <div class="portfolio-box style-2 rounded-0">
                                        <div class="dz-media">
                                            <a href="{% url 'pixio:portfolio-details-1' %}">
                                                <img src="{% static 'pixio/images/portfolio/portfolio10/pic11.jpg' %}" alt="/">
                                            </a>
                                        </div>
                                        <div class="dz-content">
                                            <div class="product-tag">
                                                <a href="{% url 'pixio:portfolio-details-1' %}">
                                                    <span class="badge badge-primary">Bottal</span>
                                                </a>
                                            </div>
                                            <h4 class="title"><a href="{% url 'pixio:portfolio-details-5' %}">Go Green with the Best Reusable Metal Bottles</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}    
