{% extends 'pixio/elements/layouts/layout-full.html' %}
{% load static %}
        
{% block additional_css %}
{% endblock %}
		
{% block content %}
<div class="page-content bg-ligh">
    <section class="portfoilo-wrapper-1 z-index-unset bg-white">
        <div class="container-fluid px-0">
            <div class="row gx-0">
                <div class="col-xl-5 col-lg-6 col-md-7">
                    <div  class="swiper portfolio-gallery swiper-gl">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="portfolio-box style-2 rounded-0">
                                    <div class="dz-media">
                                        <a href="{% url 'pixio:portfolio-details-1' %}">
                                            <img src="{% static 'pixio/images/portfolio/portfolio7/pic1.jpg' %}" class="swiper-gl-image" alt="/">
                                        </a>
                                    </div>
                                    <div class="dz-content w-100">
                                        <div class="product-tag">
                                            <a href="{% url 'pixio:portfolio-details-1' %}">
                                                <span class="badge badge-secondary">collection</span>
                                            </a>
                                        </div>
                                        <h4 class="title"><a href="{% url 'pixio:portfolio-details-3' %}">Elevate your style with our exclusive shirt collection.</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio-box style-2 rounded-0">
                                    <div class="dz-media">
                                        <a href="{% url 'pixio:portfolio-details-1' %}">
                                            <img src="{% static 'pixio/images/portfolio/portfolio7/pic2.jpg' %}" class="swiper-gl-image" alt="/">
                                        </a>
                                    </div>
                                    <div class="dz-content w-100">
                                        <div class="product-tag">
                                            <a href="{% url 'pixio:portfolio-details-1' %}">
                                                <span class="badge badge-secondary">shirts</span>
                                            </a>
                                        </div>
                                        <h4 class="title"><a href="{% url 'pixio:portfolio-details-3' %}">Unleash your confidence in fashionable, tailored shirts.</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio-box style-2 rounded-0">
                                    <div class="dz-media">
                                        <a href="{% url 'pixio:portfolio-details-1' %}">
                                            <img src="{% static 'pixio/images/portfolio/portfolio7/pic3.jpg' %}" class="swiper-gl-image" alt="/">
                                        </a>
                                    </div>
                                    <div class="dz-content w-100">
                                        <div class="product-tag">
                                            <a href="{% url 'pixio:portfolio-details-1' %}">
                                                <span class="badge badge-secondary">comfort</span>
                                            </a>
                                        </div>
                                        <h4 class="title"><a href="{% url 'pixio:portfolio-details-3' %}">Embrace comfort without compromising on a sharp look.</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio-box style-2 rounded-0">
                                    <div class="dz-media">
                                        <a href="{% url 'pixio:portfolio-details-1' %}">
                                            <img src="{% static 'pixio/images/portfolio/portfolio7/pic4.jpg' %}" class="swiper-gl-image" alt="/">
                                        </a>
                                    </div>
                                    <div class="dz-content w-100">
                                        <div class="product-tag">
                                            <a href="{% url 'pixio:portfolio-details-1' %}">
                                                <span class="badge badge-secondary">designs</span>
                                            </a>
                                        </div>
                                        <h4 class="title"><a href="{% url 'pixio:portfolio-details-3' %}">Explore a blend of modern and classic shirt designs.</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio-box style-2 rounded-0">
                                    <div class="dz-media">
                                        <a href="{% url 'pixio:portfolio-details-1' %}">
                                            <img src="{% static 'pixio/images/portfolio/portfolio7/pic5.jpg' %}" class="swiper-gl-image" alt="/">
                                        </a>
                                    </div>
                                    <div class="dz-content w-100">
                                        <div class="product-tag">
                                            <a href="{% url 'pixio:portfolio-details-1' %}">
                                                <span class="badge badge-secondary">shirt</span>
                                            </a>
                                        </div>
                                        <h4 class="title"><a href="{% url 'pixio:portfolio-details-3' %}">Each shirt is a statement of individuality and sophistication.</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio-box style-2 rounded-0">
                                    <div class="dz-media">
                                        <a href="{% url 'pixio:portfolio-details-1' %}">
                                            <img src="{% static 'pixio/images/portfolio/portfolio7/pic6.jpg' %}" class="swiper-gl-image" alt="/">
                                        </a>
                                    </div>
                                    <div class="dz-content w-100">
                                        <div class="product-tag">
                                            <a href="{% url 'pixio:portfolio-details-1' %}">
                                                <span class="badge badge-secondary">craftsmanship</span>
                                            </a>
                                        </div>
                                        <h4 class="title"><a href="{% url 'pixio:portfolio-details-3' %}">Immerse yourself in quality fabrics and impeccable craftsmanship.</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio-box style-2 rounded-0">
                                    <div class="dz-media">
                                        <a href="{% url 'pixio:portfolio-details-1' %}">
                                            <img src="{% static 'pixio/images/portfolio/portfolio7/pic7.jpg' %}" class="swiper-gl-image" alt="/">
                                        </a>
                                    </div>
                                    <div class="dz-content w-100">
                                        <div class="product-tag">
                                            <a href="{% url 'pixio:portfolio-details-1' %}">
                                                <span class="badge badge-secondary">fashion</span>
                                            </a>
                                        </div>
                                        <h4 class="title"><a href="{% url 'pixio:portfolio-details-3' %}">Redefine elegance with our curated shirt fashion line.</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio-box style-2 rounded-0">
                                    <div class="dz-media">
                                        <a href="{% url 'pixio:portfolio-details-1' %}">
                                            <img src="{% static 'pixio/images/portfolio/portfolio7/pic8.jpg' %}" class="swiper-gl-image" alt="/">
                                        </a>
                                    </div>
                                    <div class="dz-content w-100">
                                        <div class="product-tag">
                                            <a href="{% url 'pixio:portfolio-details-1' %}">
                                                <span class="badge badge-secondary">shirts</span>
                                            </a>
                                        </div>
                                        <h4 class="title"><a href="{% url 'pixio:portfolio-details-3' %}">Effortlessly transition from day to night in our versatile shirts.</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-6 col-md-5 gallary-list">
                    <div class="swiper portfolio-thumb">
                        <div class="swiper-wrapper row gx-0 masonry" data-masonry='{"percentPosition": true }'>
                            <div class="swiper-slide">
                                <div class="portfolio-box style-2 rounded-0">
                                    <div class="dz-media">
                                        <a href="{% url 'pixio:portfolio-details-1' %}">
                                            <img src="{% static 'pixio/images/portfolio/portfolio7/pic1.jpg' %}" class="swiper-gl-image" alt="/">
                                        </a>
                                    </div>
                                    <div class="dz-content w-100">
                                        <div class="product-tag">
                                            <a href="{% url 'pixio:portfolio-details-1' %}">
                                                <span class="badge badge-secondary">collection</span>
                                            </a>
                                        </div>
                                        <h4 class="title"><a href="{% url 'pixio:portfolio-details-3' %}">Elevate your style with our exclusive shirt collection.</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio-box style-2 rounded-0">
                                    <div class="dz-media">
                                        <a href="{% url 'pixio:portfolio-details-1' %}">
                                            <img src="{% static 'pixio/images/portfolio/portfolio7/pic2.jpg' %}" class="swiper-gl-image" alt="/">
                                        </a>
                                    </div>
                                    <div class="dz-content w-100">
                                        <div class="product-tag">
                                            <a href="{% url 'pixio:portfolio-details-1' %}">
                                                <span class="badge badge-secondary">shirts</span>
                                            </a>
                                        </div>
                                        <h4 class="title"><a href="{% url 'pixio:portfolio-details-3' %}">Unleash your confidence in fashionable, tailored shirts.</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio-box style-2 rounded-0">
                                    <div class="dz-media">
                                        <a href="{% url 'pixio:portfolio-details-1' %}">
                                            <img src="{% static 'pixio/images/portfolio/portfolio7/pic3.jpg' %}" class="swiper-gl-image" alt="/">
                                        </a>
                                    </div>
                                    <div class="dz-content w-100">
                                        <div class="product-tag">
                                            <a href="{% url 'pixio:portfolio-details-1' %}">
                                                <span class="badge badge-secondary">look</span>
                                            </a>
                                        </div>
                                        <h4 class="title"><a href="{% url 'pixio:portfolio-details-3' %}">Embrace comfort without compromising on a sharp look.</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio-box style-2 rounded-0">
                                    <div class="dz-media">
                                        <a href="{% url 'pixio:portfolio-details-1' %}">
                                            <img src="{% static 'pixio/images/portfolio/portfolio7/pic4.jpg' %}" class="swiper-gl-image" alt="/">
                                        </a>
                                    </div>
                                    <div class="dz-content w-100">
                                        <div class="product-tag">
                                            <a href="{% url 'pixio:portfolio-details-1' %}">
                                                <span class="badge badge-secondary">designs</span>
                                            </a>
                                        </div>
                                        <h4 class="title"><a href="{% url 'pixio:portfolio-details-3' %}">Explore a blend of modern and classic shirt designs.</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio-box style-2 rounded-0">
                                    <div class="dz-media">
                                        <a href="{% url 'pixio:portfolio-details-1' %}">
                                            <img src="{% static 'pixio/images/portfolio/portfolio7/pic5.jpg' %}" class="swiper-gl-image" alt="/">
                                        </a>
                                    </div>
                                    <div class="dz-content w-100">
                                        <div class="product-tag">
                                            <a href="{% url 'pixio:portfolio-details-1' %}">
                                                <span class="badge badge-secondary">sophistication</span>
                                            </a>
                                        </div>
                                        <h4 class="title"><a href="{% url 'pixio:portfolio-details-3' %}">Each shirt is a statement of individuality and sophistication.</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio-box style-2 rounded-0">
                                    <div class="dz-media">
                                        <a href="{% url 'pixio:portfolio-details-1' %}">
                                            <img src="{% static 'pixio/images/portfolio/portfolio7/pic6.jpg' %}" class="swiper-gl-image" alt="/">
                                        </a>
                                    </div>
                                    <div class="dz-content w-100">
                                        <div class="product-tag">
                                            <a href="{% url 'pixio:portfolio-details-1' %}">
                                                <span class="badge badge-secondary">craftsmanship</span>
                                            </a>
                                        </div>
                                        <h4 class="title"><a href="{% url 'pixio:portfolio-details-3' %}">Immerse yourself in quality fabrics and impeccable craftsmanship.</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio-box style-2 rounded-0">
                                    <div class="dz-media">
                                        <a href="{% url 'pixio:portfolio-details-1' %}">
                                            <img src="{% static 'pixio/images/portfolio/portfolio7/pic7.jpg' %}" class="swiper-gl-image" alt="/">
                                        </a>
                                    </div>
                                    <div class="dz-content w-100">
                                        <div class="product-tag">
                                            <a href="{% url 'pixio:portfolio-details-1' %}">
                                                <span class="badge badge-secondary">fashion</span>
                                            </a>
                                        </div>
                                        <h4 class="title"><a href="{% url 'pixio:portfolio-details-3' %}">Redefine elegance with our curated shirt fashion line.</a></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="portfolio-box style-2 rounded-0">
                                    <div class="dz-media">
                                        <a href="{% url 'pixio:portfolio-details-1' %}">
                                            <img src="{% static 'pixio/images/portfolio/portfolio7/pic8.jpg' %}" class="swiper-gl-image" alt="/">
                                        </a>
                                    </div>
                                    <div class="dz-content w-100">
                                        <div class="product-tag">
                                            <a href="{% url 'pixio:portfolio-details-1' %}">
                                                <span class="badge badge-secondary">shirts</span>
                                            </a>
                                        </div>
                                        <h4 class="title"><a href="{% url 'pixio:portfolio-details-3' %}">Effortlessly transition from day to night in our versatile shirts.</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}   
