{% load static %}

<div class="dz-bnr-inr" style="background-image:url({% static 'pixio/images/background/bg-shape.jpg' %});">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="dz-bnr-inr-entry text-start">
                    <h1>Banner With Image</h1>
                    <nav aria-label="breadcrumb" class="breadcrumb-row">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'pixio:index' %}"> Home</a></li>
                            <li class="breadcrumb-item">Banner With Image</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>	
        <div class="banner-media">
            <img src="{% static 'pixio/images/banner/pic1.png' %}" alt="/">
        </div>
    </div>	
</div>