{% load static %}

<div class="dz-bnr-inr bg-secondary">
    <div class="container">
        <div class="dz-bnr-inr-entry ">
            <h1>Banner With Bg-Color</h1>
            <nav aria-label="breadcrumb" class="breadcrumb-row">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'pixio:index' %}"> Home</a></li>
                    <li class="breadcrumb-item">Banner With Bg-Color</li>
                </ul>
            </nav>
        </div>
    </div>
</div>