{% load static %}

<footer class="site-footer  footer-dark">
    <!-- Footer Top -->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="widget widget_about me-2 text-center">
                        <div class="footer-logo logo-white">
                            <a href="{% url 'pixio:index' %}"><img src="{% static 'pixio/images/logo-white.svg' %}" alt=""></a> 
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="widget widget_services text-center">
                        <ul class="nav-inline mb-3 text">
                            <li><a href="{% url 'pixio:about-us' %}">About Us</a></li>
                            <li><a href="{% url 'pixio:blog-dark-2-column-sidebar' %}">Latest News</a></li>
                            <li><a href="{% url 'pixio:faqs-2' %}">Help Desk</a></li>
                            <li><a href="{% url 'pixio:contact-us-1' %}">Contact Us</a></li>
                        </ul>
                        <ul class="nav-inline">
                            <li><a href="javascript:void();" target="_blank" class="site-button-link facebook hover"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="javascript:void();" target="_blank" class="site-button-link google-plus hover"><i class="fab fa-google-plus-g"></i></a></li>
                            <li><a href="javascript:void();" target="_blank" class="site-button-link linkedin hover"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="javascript:void();" target="_blank" class="site-button-link instagram hover"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="javascript:void();" target="_blank" class="site-button-link twitter hover"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Top End -->
    
    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row fb-inner">
                <div class="col-lg-6 col-md-12 text-start"> 
                    <p class="copyright-text">© <span class="current-year">2024</span> <a href="https://www.dexignzone.com/">DexignZone</a> Theme. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 col-md-12 text-end"> 
                    <div class="d-flex align-items-center justify-content-center justify-content-md-center justify-content-lg-end">
                        <span class="me-3">We Accept: </span>
                        <img src="{% static 'pixio/images/footer-img.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom End -->
    
</footer>