{% load static %}

<footer class="site-footer footer-dark style-3">
    <!-- Footer Top -->
    
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-md-12 px-0">
                    <div class="row dz-post g-0 spno">
                        <div class="col-lg-6 col-6">
                            <div class="dz-post-media">
                                <img src="{% static 'pixio/images/posts/pic1.png' %}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6 col-6">
                            <div class="dz-post-media">
                                <img src="{% static 'pixio/images/posts/pic2.png' %}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6  col-6">	
                            <div class="dz-post-media">
                                <img src="{% static 'pixio/images/posts/pic3.png' %}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6 col-6">
                            <div class="dz-post-media">
                                <img src="{% static 'pixio/images/posts/pic4.png' %}" alt="">
                            </div>
                        </div>
                        <a href="javascript:void(0);" class="instagram-link">
                            <div class="follow-link bg-white wow bounceIn" data-wow-delay="0.1s">
                                <div class="follow-link-icon">
                                    <img src="{% static 'pixio/images/insta-follow.png' %}" alt="">
                                </div>
                                <div class="follow-link-content">
                                    <h4>Share with #Pixio</h4>
                                    <p>Follow @Pixio for inspiration.</p>
                                </div>
                            </div>
                        </a>	
                    </div>
                </div>
                <div class="col-md-8 col-lg-8 col-md-12">
                    <div class="footer-top">
                        <div class="dz-custom-container">
                            <div class="row align-items-center logo-topbar gx-0 wow fadeInUp" data-wow-delay="0.1s">
                                <div class="col-12 col-sm-6">
                                    <div class="footer-logo logo-white mb-0">
                                        <a href="{% url 'pixio:index' %}"><img src="{% static 'pixio/images/logo-white.svg' %}" alt=""></a> 
                                    </div>	
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="dz-social-icon style-1">
                                        <ul>
                                            <li>
                                                <a href="https://www.facebook.com/dexignzone" target="_blank">
                                                    <i class="fa-brands fa-facebook-f"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://twitter.com/dexignzones" target="_blank">
                                                    <i class="fa-brands fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.linkedin.com/showcase/3686700/admin/" target="_blank">
                                                    <i class="fa-brands fa-linkedin"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.instagram.com/dexignzone/" target="_blank">
                                                    <i class="fa-brands fa-instagram"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-6 wow fadeInUp" data-wow-delay="0.2s">
                                    <div class="widget widget_services">
                                        <h5 class="footer-title">Our Stores</h5>
                                        <ul>
                                            <li><a href="javascript:void(0);">New York</a></li>
                                            <li><a href="javascript:void(0);">London SF</a></li>
                                            <li><a href="javascript:void(0);">Edinburgh</a></li>
                                            <li><a href="javascript:void(0);">Los Angeles</a></li>
                                            <li><a href="javascript:void(0);">Chicago</a></li>
                                            <li><a href="javascript:void(0);">Las Vegas</a></li>
                                        </ul>   
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-6 wow fadeInUp" data-wow-delay="0.3s">
                                    <div class="widget widget_services">
                                        <h5 class="footer-title">Useful Links</h5>
                                        <ul>
                                            <li><a href="javascript:void(0);">Privacy Policy</a></li>
                                            <li><a href="javascript:void(0);">Returns</a></li>
                                            <li><a href="javascript:void(0);">Terms &amp; Conditions</a></li>
                                            <li><a href="javascript:void(0);">Contact Us</a></li>
                                            <li><a href="javascript:void(0);">Latest News</a></li>
                                            <li><a href="javascript:void(0);">Our Sitemap</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-12 wow fadeInUp" data-wow-delay="0.4s">
                                    <div class="widget widget_services">
                                        <h5 class="footer-title">Footer Menu</h5>
                                        <ul>
                                            <li><a href="javascript:void(0);">Instagram profile</a></li>
                                            <li><a href="javascript:void(0);">New Collection</a></li>
                                            <li><a href="javascript:void(0);">Woman Dress</a></li>
                                            <li><a href="javascript:void(0);">Contact Us</a></li>
                                            <li><a href="javascript:void(0);">Latest News</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Footer Bottom -->
                    <div class="footer-bottom wow fadeInUp" data-wow-delay="0.5s">
                        <div class="fb-inner">
                            <div class="text-center"> 
                                <p class="copyright-text">© <span class="current-year">2024</span> <a href="https://www.dexignzone.com/">DexignZone</a> Theme. All Rights Reserved.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Footer Bottom End -->
                </div>
            </div>
        </div>
    <!-- Footer Top End -->
</footer>